
.container{
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 5fr;
  width: 800px;
  grid-row-gap: 20px;
}


.data-container{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  // border-top: 1px solid black;
  // border-right: 1px solid black;
  height: 400px;

  .data-bar{
    display: flex;
    justify-content: space-between;

    .city-info{
      display: grid;
      grid-template-columns: repeat(2, 70px);
      grid-row-gap: 20px;
      grid-column-gap: 10px;
      height: 1px;

      .city-logo{
        grid-row-end: span 2;
        border: 1px solid black;
      }
    }


    .favorite-actions{
      display: grid;
      grid-template-columns: repeat(2, auto);


      div:first-child{
        margin-top: 3px;
      }
    }
  }

  .desc{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 25pt;
    font-weight: bold;
  }

}





.data-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // border-top: 1px solid black;
  // border-right: 1px solid black;
}

.data-grid > app-weather-degrees-view{
  padding: 10px;
  // border-left: 1px solid black;
  // border-bottom: 1px solid black;
}
