.container{
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-row-gap: 20px;
}

.data-container{
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  .data-bar{
    display: flex;
    justify-content: space-between;

    .city-info{
      display: grid;
      grid-template-columns: repeat(2, 100px);
      grid-row-gap: 50px;
      grid-column-gap: 10px;
      height: 1px;
      font-size: 20pt;

      .city-logo{
        grid-row-end: span 2;
      }
    }

    .favorite-actions{
      display: grid;
      grid-template-columns: repeat(2, auto);


      div:first-child{
        margin-top: 3px;
      }
    }
  }

  .desc{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 45pt;
    font-weight: bold;
  }
}

.data-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.data-grid > app-weather-degrees-view{
  padding: 10px;
}
