.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-banner{
  background-color: #5291c7
}

.logo-barber{
  position: relative;
  margin-right: 5px;
  // margin-top: 10px;
}

.menu-left
{
  border-left: 1px dotted black;;
  padding-left: 10px;;
  margin-left: 5px;
}

.menu-center
{
  margin: 0 auto;
}

.menu-right
{
  position: absolute;
  right: 0px;
}

.router-link-active
{
  background-color: #185a8e;
  color: white;;
}

.example-spacer {
  flex: 1 1 auto;
}

